@import url('https://fonts.googleapis.com/css?family=Poppins');
body{
    margin: 0;
    padding: 0;
    background: #070707;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}
/* nav
************
************* */
nav{
    color: white;
    text-decoration: none;
}
/* paragraph
************
************* */
.wrapper{
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper .cards{
    position: relative;
    width: 300px;
    height: 400px;
    background:#000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.wrapper .cards:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, .1);
    z-index: 20;
    pointer-events: none;
}

.wrapper .cards:nth-child(1){
    background: linear-gradient(45deg,#fa3333,#ffa600);
}
.wrapper .cards .imgx{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.wrapper .cards .imgx h2{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.wrapper .cards .overlay {
    position: relative;
    top: 175px;
    right: 124.5px;
    width: 50px;
    height: 50px;
    background: rgb(0, 0, 0);
    box-shadow: 0 2px 5px rgba(0, 0, 0 , .2);
    cursor: pointer;
    transition: 0.5s;
}
.wrapper .cards .overlay:hover{
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
    opacity: 0.9; 
    border-radius: 0;
}
.wrapper .cards .overlay:before{
    content: 'Read';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-delay: 0.5s;

}
.wrapper .cards .overlay:hover:before{
    display: none;
    transition-delay: 0s;
}
.wrapper .cards .content{
    box-sizing: border-box;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition:0s;
    color: #fff;
}
.wrapper .cards .overlay:hover ~ .content{
    opacity: 1;
    visibility: visible;
    transition: 0.2s;
    transition-delay: 0.5s;

}
.wrapper .cards .content p{
    margin: 0;
    padding: 0;
}

/* paragraph
************
************* */

/* SKILLS
************
************* */
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    
}
.container div{
    margin:10px;

}
.container div label{
    cursor: pointer;
}
.container div label input
{
    display: none;

}

.container div label span
{
    position: relative;
    display: inline-block;
    background: #111111;
    padding: 15px 30px;  
    color: rgb(255, 255, 255);
    text-shadow: 0 1px 4px rgba(0, 0 ,0, .5);
    border-radius: 30px;
    font-size: 20px;
    transition: 0.1s;
    user-select: none;
    overflow: hidden;
    text-decoration: none;
}
.container div label span:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
}
.container div:nth-child(6n+1) label input:hover ~  span{
    background: #e4d500;
    color: #fff;
    box-shadow: 0 2px 20px rgb(241, 68, 0);

}
.container div:nth-child(6n+2) label input:hover ~  span{
    background: #9c27b0;
    color: #fff;
    box-shadow: 0 2px 20px #ff3bcb;
}
.container div:nth-child(6n+3) label input:hover ~   span{
    background: #d50000;
    color: #fff;
    box-shadow: 0 2px 20px #fa3333;
}
.container div:nth-child(6n+4) label input:hover ~  span{
    background: #e4d500;
    color: #fff;
    box-shadow: 0 2px 20px rgb(241, 68, 0);

}
.container div:nth-child(6n+5) label input:hover ~   span{
    background: #9c27b0;
    color: #fff;
    box-shadow: 0 2px 20px #ff3bcb;
}
.container div:nth-child(6n+6) label input:hover ~   span{
    background: #d50000;
    color: #fff;
    box-shadow: 0 2px 20px #fa3333;
}
/* SKILLS
************
************* */
